<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title></title>
    <link href="/static/css/ba71195f37245f08c16d93ced7763cb6.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" charset="utf-8" async=""
            src="/static/js/chunk-bitlinkShareSheet-169060b0bfb1872edc11.js"></script>
    <script src="/static/vue/vue.js"></script>
    <script src='http://cdn.bootcss.com/jquery/1.8.3/jquery.min.js'></script>
    <script src="https://cdn.bootcss.com/layer/3.0.1/layer.min.js"></script>
    <script src="/static/js/urlrequests.js"></script>
    <script src="/static/vue/vue.js"></script>
</head>

<body>
{% verbatim %}
<div id="main">
    <div class="layout--MAIN " data-reactid=".0">
        <div class="layout--primary-section" data-reactid=".0.3">
            <nav class="navigation--ALTERNATE" data-reactid=".0.3.0">
                <a title="Settings" class="navigation--icon " data-reactid=".0.3.0.2">
                    <span class="hamburger-icon" alt="hamburger-icon" data-reactid=".0.3.0.2.0"></span>
                </a>
                        <span class="navigation--switch" data-reactid=".0.3.0.3">
                            <button class="button--GHOST-PRIMARY" data-reactid=".0.3.0.3.0">用户名</button>
                        </span>
                <a data-reactid=".0.3.0.4">
                    <button class="button--SOLID-SECONDARY brand" data-reactid=".0.3.0.4.0"
                            style="animation-direction: normal; animation-fill-mode: none; animation-iteration-count: 1; animation-play-state: running; animation-timing-function: ease;">
                        创建短链
                    </button>
                </a>
            </nav>
            <div>
                <div class="performance-graph--toggle-region closed " data-reactid=".0.3.1.4">

                    <div data-reactid=".0.3.1.4.0">


                        <div class="performance-summary--MAIN" data-reactid=".0.3.1.4.0.0">
                            <div class="performance-summary--total" data-reactid=".0.3.1.4.0.0.0">
                                <span class="total-clicks-icon" alt="total-clicks-icon"
                                      data-reactid=".0.3.1.4.0.0.0.0"></span>

                                <div data-reactid=".0.3.1.4.0.0.0.1:$0">
                                    <h6 class="performance-summary--total-clicks" data-reactid=".0.3.1.4.0.0.0.1:$0.0">
                                        1</h6>
                                    <h5 class="performance-summary--channels-header"
                                        data-reactid=".0.3.1.4.0.0.0.1:$0.2">Total Clicks</h5>
                                </div>
                            </div>
                            <div class="performance-summary--total" data-reactid=".0.3.1.4.0.0.1"><span
                                    class="social-icon--MAIN" data-reactid=".0.3.1.4.0.0.1.0"><span
                                    class="dark-traffic-icon" alt="dark-traffic-icon"
                                    data-reactid=".0.3.1.4.0.0.1.0.0"></span></span>

                                <div data-reactid=".0.3.1.4.0.0.1.1:$0"><h6 class="performance-summary--total-clicks"
                                                                            data-reactid=".0.3.1.4.0.0.1.1:$0.0">1</h6>
                                    <h6 class="performance-summary--label" data-reactid=".0.3.1.4.0.0.1.1:$0.1"><span
                                            data-reactid=".0.3.1.4.0.0.1.1:$0.1.0">Email, SMS, Direct</span><span
                                            data-reactid=".0.3.1.4.0.0.1.1:$0.1.1"> </span></h6><h5
                                            class="performance-summary--channels-header"
                                            data-reactid=".0.3.1.4.0.0.1.1:$0.2">Top Referrer</h5></div>
                            </div>
                            <div class="performance-summary--total" data-reactid=".0.3.1.4.0.0.2"><span
                                    class="geolocation-icon" alt="geolocation-icon"
                                    data-reactid=".0.3.1.4.0.0.2.0"></span>

                                <div data-reactid=".0.3.1.4.0.0.2.1:$0"><h6 class="performance-summary--total-clicks"
                                                                            data-reactid=".0.3.1.4.0.0.2.1:$0.0">1</h6>
                                    <h6 class="performance-summary--label" data-reactid=".0.3.1.4.0.0.2.1:$0.1"><span
                                            data-reactid=".0.3.1.4.0.0.2.1:$0.1.0">Japan</span><span
                                            data-reactid=".0.3.1.4.0.0.2.1:$0.1.1"> </span></h6><h5
                                            class="performance-summary--channels-header"
                                            data-reactid=".0.3.1.4.0.0.2.1:$0.2">Top Location</h5></div>
                            </div>
                        </div>


                        <div data-reactid=".0.3.1.4.0.2">
                            <div class="bar-chart--ALTERNATE" data-reactid=".0.3.1.4.0.2.0" data-highcharts-chart="0">
                                <div id="highcharts-oc4qnaa-0" class="highcharts-container "
                                     style="position: relative; overflow: hidden; width: 1128px; height: 225px; text-align: left; line-height: normal; z-index: 0; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); font-family: &quot;Proxima Nova&quot;;">
                                    <svg version="1.1" class="highcharts-root"
                                         style="font-family:Proxima Nova;font-size:12px;"
                                         xmlns="http://www.w3.org/2000/svg" width="1128" height="225"
                                         viewBox="0 0 1128 225">
                                        <desc>Created with Highcharts 5.0.14</desc>
                                        <defs>
                                            <clippath id="highcharts-oc4qnaa-1">
                                                <rect x="0" y="0" width="1128" height="189" fill="none"></rect>
                                            </clippath>
                                        </defs>
                                        <rect fill="transparent" class="highcharts-background" x="0" y="0" width="1128"
                                              height="225" rx="0" ry="0"></rect>
                                        <rect fill="none" class="highcharts-plot-background" x="0" y="0" width="1128"
                                              height="189"></rect>
                                        <g class="highcharts-grid highcharts-xaxis-grid ">
                                            <path fill="none" class="highcharts-grid-line" d="M -0.5 0 L -0.5 189"
                                                  opacity="1"></path>
                                            <path fill="none" class="highcharts-grid-line" d="M 35.5 0 L 35.5 189"
                                                  opacity="1"></path>
                                            <path fill="none" class="highcharts-grid-line" d="M 72.5 0 L 72.5 189"
                                                  opacity="1"></path>
                                            <path fill="none" class="highcharts-grid-line" d="M 108.5 0 L 108.5 189"
                                                  opacity="1"></path>
                                            <path fill="none" class="highcharts-grid-line" d="M 145.5 0 L 145.5 189"
                                                  opacity="1"></path>
                                            <path fill="none" class="highcharts-grid-line" d="M 181.5 0 L 181.5 189"
                                                  opacity="1"></path>
                                            <path fill="none" class="highcharts-grid-line" d="M 217.5 0 L 217.5 189"
                                                  opacity="1"></path>
                                            <path fill="none" class="highcharts-grid-line" d="M 254.5 0 L 254.5 189"
                                                  opacity="1"></path>
                                            <path fill="none" class="highcharts-grid-line" d="M 290.5 0 L 290.5 189"
                                                  opacity="1"></path>
                                            <path fill="none" class="highcharts-grid-line" d="M 326.5 0 L 326.5 189"
                                                  opacity="1"></path>
                                            <path fill="none" class="highcharts-grid-line" d="M 363.5 0 L 363.5 189"
                                                  opacity="1"></path>
                                            <path fill="none" class="highcharts-grid-line" d="M 399.5 0 L 399.5 189"
                                                  opacity="1"></path>
                                            <path fill="none" class="highcharts-grid-line" d="M 436.5 0 L 436.5 189"
                                                  opacity="1"></path>
                                            <path fill="none" class="highcharts-grid-line" d="M 472.5 0 L 472.5 189"
                                                  opacity="1"></path>
                                            <path fill="none" class="highcharts-grid-line" d="M 508.5 0 L 508.5 189"
                                                  opacity="1"></path>
                                            <path fill="none" class="highcharts-grid-line" d="M 545.5 0 L 545.5 189"
                                                  opacity="1"></path>
                                            <path fill="none" class="highcharts-grid-line" d="M 581.5 0 L 581.5 189"
                                                  opacity="1"></path>
                                            <path fill="none" class="highcharts-grid-line" d="M 618.5 0 L 618.5 189"
                                                  opacity="1"></path>
                                            <path fill="none" class="highcharts-grid-line" d="M 654.5 0 L 654.5 189"
                                                  opacity="1"></path>
                                            <path fill="none" class="highcharts-grid-line" d="M 690.5 0 L 690.5 189"
                                                  opacity="1"></path>
                                            <path fill="none" class="highcharts-grid-line" d="M 727.5 0 L 727.5 189"
                                                  opacity="1"></path>
                                            <path fill="none" class="highcharts-grid-line" d="M 763.5 0 L 763.5 189"
                                                  opacity="1"></path>
                                            <path fill="none" class="highcharts-grid-line" d="M 800.5 0 L 800.5 189"
                                                  opacity="1"></path>
                                            <path fill="none" class="highcharts-grid-line" d="M 836.5 0 L 836.5 189"
                                                  opacity="1"></path>
                                            <path fill="none" class="highcharts-grid-line" d="M 872.5 0 L 872.5 189"
                                                  opacity="1"></path>
                                            <path fill="none" class="highcharts-grid-line" d="M 909.5 0 L 909.5 189"
                                                  opacity="1"></path>
                                            <path fill="none" class="highcharts-grid-line" d="M 945.5 0 L 945.5 189"
                                                  opacity="1"></path>
                                            <path fill="none" class="highcharts-grid-line" d="M 981.5 0 L 981.5 189"
                                                  opacity="1"></path>
                                            <path fill="none" class="highcharts-grid-line" d="M 1018.5 0 L 1018.5 189"
                                                  opacity="1"></path>
                                            <path fill="none" class="highcharts-grid-line" d="M 1054.5 0 L 1054.5 189"
                                                  opacity="1"></path>
                                            <path fill="none" class="highcharts-grid-line" d="M 1091.5 0 L 1091.5 189"
                                                  opacity="1"></path>
                                            <path fill="none" class="highcharts-grid-line" d="M 1127.5 0 L 1127.5 189"
                                                  opacity="1"></path>
                                        </g>
                                        <g class="highcharts-grid highcharts-yaxis-grid ">
                                            <path fill="none" class="highcharts-grid-line" d="M 0 189.5 L 1128 189.5"
                                                  opacity="1"></path>
                                            <path fill="none" class="highcharts-grid-line" d="M 0 126.5 L 1128 126.5"
                                                  opacity="1"></path>
                                            <path fill="none" class="highcharts-grid-line" d="M 0 63.5 L 1128 63.5"
                                                  opacity="1"></path>
                                            <path fill="none" opacity="1" class="highcharts-grid-line"
                                                  d="M 0 0.5 L 1128 0.5"></path>
                                        </g>
                                        <rect fill="none" class="highcharts-plot-border" x="0" y="0" width="1128"
                                              height="189"></rect>
                                        <g class="highcharts-axis highcharts-xaxis ">
                                            <path fill="none" class="highcharts-tick" stroke="#35637C" stroke-width="1"
                                                  d="M -0.5 189 L -0.5 199" opacity="1"></path>
                                            <path fill="none" class="highcharts-tick" stroke="#35637C" stroke-width="1"
                                                  d="M 35.5 189 L 35.5 199" opacity="1"></path>
                                            <path fill="none" class="highcharts-tick" stroke="#35637C" stroke-width="1"
                                                  d="M 72.5 189 L 72.5 199" opacity="1"></path>
                                            <path fill="none" class="highcharts-tick" stroke="#35637C" stroke-width="1"
                                                  d="M 108.5 189 L 108.5 199" opacity="1"></path>
                                            <path fill="none" class="highcharts-tick" stroke="#35637C" stroke-width="1"
                                                  d="M 145.5 189 L 145.5 199" opacity="1"></path>
                                            <path fill="none" class="highcharts-tick" stroke="#35637C" stroke-width="1"
                                                  d="M 181.5 189 L 181.5 199" opacity="1"></path>
                                            <path fill="none" class="highcharts-tick" stroke="#35637C" stroke-width="1"
                                                  d="M 217.5 189 L 217.5 199" opacity="1"></path>
                                            <path fill="none" class="highcharts-tick" stroke="#35637C" stroke-width="1"
                                                  d="M 254.5 189 L 254.5 199" opacity="1"></path>
                                            <path fill="none" class="highcharts-tick" stroke="#35637C" stroke-width="1"
                                                  d="M 290.5 189 L 290.5 199" opacity="1"></path>
                                            <path fill="none" class="highcharts-tick" stroke="#35637C" stroke-width="1"
                                                  d="M 326.5 189 L 326.5 199" opacity="1"></path>
                                            <path fill="none" class="highcharts-tick" stroke="#35637C" stroke-width="1"
                                                  d="M 363.5 189 L 363.5 199" opacity="1"></path>
                                            <path fill="none" class="highcharts-tick" stroke="#35637C" stroke-width="1"
                                                  d="M 399.5 189 L 399.5 199" opacity="1"></path>
                                            <path fill="none" class="highcharts-tick" stroke="#35637C" stroke-width="1"
                                                  d="M 436.5 189 L 436.5 199" opacity="1"></path>
                                            <path fill="none" class="highcharts-tick" stroke="#35637C" stroke-width="1"
                                                  d="M 472.5 189 L 472.5 199" opacity="1"></path>
                                            <path fill="none" class="highcharts-tick" stroke="#35637C" stroke-width="1"
                                                  d="M 508.5 189 L 508.5 199" opacity="1"></path>
                                            <path fill="none" class="highcharts-tick" stroke="#35637C" stroke-width="1"
                                                  d="M 545.5 189 L 545.5 199" opacity="1"></path>
                                            <path fill="none" class="highcharts-tick" stroke="#35637C" stroke-width="1"
                                                  d="M 581.5 189 L 581.5 199" opacity="1"></path>
                                            <path fill="none" class="highcharts-tick" stroke="#35637C" stroke-width="1"
                                                  d="M 618.5 189 L 618.5 199" opacity="1"></path>
                                            <path fill="none" class="highcharts-tick" stroke="#35637C" stroke-width="1"
                                                  d="M 654.5 189 L 654.5 199" opacity="1"></path>
                                            <path fill="none" class="highcharts-tick" stroke="#35637C" stroke-width="1"
                                                  d="M 690.5 189 L 690.5 199" opacity="1"></path>
                                            <path fill="none" class="highcharts-tick" stroke="#35637C" stroke-width="1"
                                                  d="M 727.5 189 L 727.5 199" opacity="1"></path>
                                            <path fill="none" class="highcharts-tick" stroke="#35637C" stroke-width="1"
                                                  d="M 763.5 189 L 763.5 199" opacity="1"></path>
                                            <path fill="none" class="highcharts-tick" stroke="#35637C" stroke-width="1"
                                                  d="M 800.5 189 L 800.5 199" opacity="1"></path>
                                            <path fill="none" class="highcharts-tick" stroke="#35637C" stroke-width="1"
                                                  d="M 836.5 189 L 836.5 199" opacity="1"></path>
                                            <path fill="none" class="highcharts-tick" stroke="#35637C" stroke-width="1"
                                                  d="M 872.5 189 L 872.5 199" opacity="1"></path>
                                            <path fill="none" class="highcharts-tick" stroke="#35637C" stroke-width="1"
                                                  d="M 909.5 189 L 909.5 199" opacity="1"></path>
                                            <path fill="none" class="highcharts-tick" stroke="#35637C" stroke-width="1"
                                                  d="M 945.5 189 L 945.5 199" opacity="1"></path>
                                            <path fill="none" class="highcharts-tick" stroke="#35637C" stroke-width="1"
                                                  d="M 981.5 189 L 981.5 199" opacity="1"></path>
                                            <path fill="none" class="highcharts-tick" stroke="#35637C" stroke-width="1"
                                                  d="M 1018.5 189 L 1018.5 199" opacity="1"></path>
                                            <path fill="none" class="highcharts-tick" stroke="#35637C" stroke-width="1"
                                                  d="M 1054.5 189 L 1054.5 199" opacity="1"></path>
                                            <path fill="none" class="highcharts-tick" stroke="#35637C" stroke-width="1"
                                                  d="M 1091.5 189 L 1091.5 199" opacity="1"></path>
                                            <path fill="none" class="highcharts-tick" stroke="#35637C" stroke-width="1"
                                                  d="M 1128.5 189 L 1128.5 199" opacity="1"></path>
                                            <path fill="none" class="highcharts-axis-line" stroke="#35637C"
                                                  stroke-width="1" d="M 0 189.5 L 1128 189.5"></path>
                                        </g>
                                        <g class="highcharts-axis highcharts-yaxis ">
                                            <path fill="none" class="highcharts-axis-line"
                                                  d="M 1128 0 L 1128 189"></path>
                                        </g>
                                        <g class="highcharts-series-group">
                                            <g class="highcharts-series highcharts-series-0 highcharts-column-series highcharts-color-undefined highcharts-tracker"
                                               transform="translate(0,0) scale(1 1)" style="cursor:pointer;"
                                               clip-path="url(#highcharts-oc4qnaa-1)">
                                                <rect x="22" y="190" width="29" height="0" fill="#d79268"
                                                      class="highcharts-point"></rect>
                                                <rect x="58" y="190" width="29" height="0" fill="#d79268"
                                                      class="highcharts-point"></rect>
                                                <rect x="95" y="64" width="29" height="126" fill="#d79268"
                                                      class="highcharts-point"></rect>
                                                <rect x="131" y="190" width="29" height="0" fill="#d79268"
                                                      class="highcharts-point"></rect>
                                                <rect x="167" y="190" width="29" height="0" fill="#d79268"
                                                      class="highcharts-point"></rect>
                                                <rect x="204" y="190" width="29" height="0" fill="#d79268"
                                                      class="highcharts-point"></rect>
                                                <rect x="240" y="190" width="29" height="0" fill="#d79268"
                                                      class="highcharts-point"></rect>
                                                <rect x="277" y="190" width="29" height="0" fill="#d79268"
                                                      class="highcharts-point"></rect>
                                                <rect x="313" y="190" width="29" height="0" fill="#d79268"
                                                      class="highcharts-point"></rect>
                                                <rect x="349" y="190" width="29" height="0" fill="#d79268"
                                                      class="highcharts-point"></rect>
                                                <rect x="386" y="190" width="29" height="0" fill="#d79268"
                                                      class="highcharts-point"></rect>
                                                <rect x="422" y="190" width="29" height="0" fill="#d79268"
                                                      class="highcharts-point"></rect>
                                                <rect x="458" y="190" width="30" height="0" fill="#d79268"
                                                      class="highcharts-point"></rect>
                                                <rect x="495" y="190" width="29" height="0" fill="#d79268"
                                                      class="highcharts-point"></rect>
                                                <rect x="531" y="190" width="29" height="0" fill="#d79268"
                                                      class="highcharts-point"></rect>
                                                <rect x="568" y="190" width="29" height="0" fill="#d79268"
                                                      class="highcharts-point"></rect>
                                                <rect x="604" y="190" width="29" height="0" fill="#d79268"
                                                      class="highcharts-point"></rect>
                                                <rect x="640" y="190" width="30" height="0" fill="#d79268"
                                                      class="highcharts-point"></rect>
                                                <rect x="677" y="190" width="29" height="0" fill="#d79268"
                                                      class="highcharts-point"></rect>
                                                <rect x="713" y="190" width="29" height="0" fill="#d79268"
                                                      class="highcharts-point"></rect>
                                                <rect x="750" y="190" width="29" height="0" fill="#d79268"
                                                      class="highcharts-point"></rect>
                                                <rect x="786" y="190" width="29" height="0" fill="#d79268"
                                                      class="highcharts-point"></rect>
                                                <rect x="822" y="190" width="29" height="0" fill="#d79268"
                                                      class="highcharts-point"></rect>
                                                <rect x="859" y="190" width="29" height="0" fill="#d79268"
                                                      class="highcharts-point"></rect>
                                                <rect x="895" y="190" width="29" height="0" fill="#d79268"
                                                      class="highcharts-point"></rect>
                                                <rect x="932" y="190" width="29" height="0" fill="#d79268"
                                                      class="highcharts-point"></rect>
                                                <rect x="968" y="190" width="29" height="0" fill="#d79268"
                                                      class="highcharts-point"></rect>
                                                <rect x="1004" y="190" width="29" height="0" fill="#d79268"
                                                      class="highcharts-point"></rect>
                                                <rect x="1041" y="190" width="29" height="0" fill="#d79268"
                                                      class="highcharts-point"></rect>
                                                <rect x="1077" y="190" width="29" height="0" fill="#d79268"
                                                      class="highcharts-point"></rect>
                                            </g>
                                            <g class="highcharts-markers highcharts-series-0 highcharts-column-series highcharts-color-undefined "
                                               transform="translate(0,0) scale(1 1)" clip-path="none"></g>
                                        </g>
                                        <g class="highcharts-legend">
                                            <rect fill="none" class="highcharts-legend-box" rx="0" ry="0" x="0" y="0"
                                                  width="8" height="8" visibility="hidden"></rect>
                                            <g>
                                                <g></g>
                                            </g>
                                        </g>
                                        <g class="highcharts-axis-labels highcharts-xaxis-labels ">
                                            <text x="0"
                                                  style="color:#9B9B9B;cursor:default;font-size:1.1rem;text-transform:uppercase;fill:#9B9B9B;"
                                                  text-anchor="middle" transform="translate(0,0)" y="-9999">
                                                <tspan>Aug 6</tspan>
                                            </text>
                                            <text x="0"
                                                  style="color:#9B9B9B;cursor:default;font-size:1.1rem;text-transform:uppercase;fill:#9B9B9B;"
                                                  text-anchor="middle" transform="translate(0,0)" y="-9999">
                                                <tspan>Aug 7</tspan>
                                            </text>
                                            <text x="0"
                                                  style="color:#9B9B9B;cursor:default;font-size:1.1rem;text-transform:uppercase;fill:#9B9B9B;"
                                                  text-anchor="middle" transform="translate(0,0)" y="-9999">
                                                <tspan>Aug 8</tspan>
                                            </text>
                                            <text x="0"
                                                  style="color:#9B9B9B;cursor:default;font-size:1.1rem;text-transform:uppercase;fill:#9B9B9B;"
                                                  text-anchor="middle" transform="translate(0,0)" y="-9999">
                                                <tspan>Aug 9</tspan>
                                            </text>
                                            <text x="0"
                                                  style="color:#9B9B9B;cursor:default;font-size:1.1rem;text-transform:uppercase;fill:#9B9B9B;"
                                                  text-anchor="middle" transform="translate(0,0)" y="-9999">
                                                <tspan>Aug 10</tspan>
                                            </text>
                                            <text x="0"
                                                  style="color:#9B9B9B;cursor:default;font-size:1.1rem;text-transform:uppercase;fill:#9B9B9B;"
                                                  text-anchor="middle" transform="translate(0,0)" y="-9999">
                                                <tspan>Aug 11</tspan>
                                            </text>
                                            <text x="0"
                                                  style="color:#9B9B9B;cursor:default;font-size:1.1rem;text-transform:uppercase;fill:#9B9B9B;"
                                                  text-anchor="middle" transform="translate(0,0)" y="-9999">
                                                <tspan>Aug 12</tspan>
                                            </text>
                                            <text x="254.70967741935482"
                                                  style="color:#9B9B9B;cursor:default;font-size:1.1rem;text-transform:uppercase;fill:#9B9B9B;"
                                                  text-anchor="middle" transform="translate(0,0)" y="212" opacity="1">
                                                <tspan>Aug 13</tspan>
                                            </text>
                                            <text x="0"
                                                  style="color:#9B9B9B;cursor:default;font-size:1.1rem;text-transform:uppercase;fill:#9B9B9B;"
                                                  text-anchor="middle" transform="translate(0,0)" y="-9999">
                                                <tspan>Aug 14</tspan>
                                            </text>
                                            <text x="0"
                                                  style="color:#9B9B9B;cursor:default;font-size:1.1rem;text-transform:uppercase;fill:#9B9B9B;"
                                                  text-anchor="middle" transform="translate(0,0)" y="-9999">
                                                <tspan>Aug 15</tspan>
                                            </text>
                                            <text x="0"
                                                  style="color:#9B9B9B;cursor:default;font-size:1.1rem;text-transform:uppercase;fill:#9B9B9B;"
                                                  text-anchor="middle" transform="translate(0,0)" y="-9999">
                                                <tspan>Aug 16</tspan>
                                            </text>
                                            <text x="0"
                                                  style="color:#9B9B9B;cursor:default;font-size:1.1rem;text-transform:uppercase;fill:#9B9B9B;"
                                                  text-anchor="middle" transform="translate(0,0)" y="-9999">
                                                <tspan>Aug 17</tspan>
                                            </text>
                                            <text x="0"
                                                  style="color:#9B9B9B;cursor:default;font-size:1.1rem;text-transform:uppercase;fill:#9B9B9B;"
                                                  text-anchor="middle" transform="translate(0,0)" y="-9999">
                                                <tspan>Aug 18</tspan>
                                            </text>
                                            <text x="0"
                                                  style="color:#9B9B9B;cursor:default;font-size:1.1rem;text-transform:uppercase;fill:#9B9B9B;"
                                                  text-anchor="middle" transform="translate(0,0)" y="-9999">
                                                <tspan>Aug 19</tspan>
                                            </text>
                                            <text x="509.41935483870964"
                                                  style="color:#9B9B9B;cursor:default;font-size:1.1rem;text-transform:uppercase;fill:#9B9B9B;"
                                                  text-anchor="middle" transform="translate(0,0)" y="212" opacity="1">
                                                <tspan>Aug 20</tspan>
                                            </text>
                                            <text x="0"
                                                  style="color:#9B9B9B;cursor:default;font-size:1.1rem;text-transform:uppercase;fill:#9B9B9B;"
                                                  text-anchor="middle" transform="translate(0,0)" y="-9999">
                                                <tspan>Aug 21</tspan>
                                            </text>
                                            <text x="0"
                                                  style="color:#9B9B9B;cursor:default;font-size:1.1rem;text-transform:uppercase;fill:#9B9B9B;"
                                                  text-anchor="middle" transform="translate(0,0)" y="-9999">
                                                <tspan>Aug 22</tspan>
                                            </text>
                                            <text x="0"
                                                  style="color:#9B9B9B;cursor:default;font-size:1.1rem;text-transform:uppercase;fill:#9B9B9B;"
                                                  text-anchor="middle" transform="translate(0,0)" y="-9999">
                                                <tspan>Aug 23</tspan>
                                            </text>
                                            <text x="0"
                                                  style="color:#9B9B9B;cursor:default;font-size:1.1rem;text-transform:uppercase;fill:#9B9B9B;"
                                                  text-anchor="middle" transform="translate(0,0)" y="-9999">
                                                <tspan>Aug 24</tspan>
                                            </text>
                                            <text x="0"
                                                  style="color:#9B9B9B;cursor:default;font-size:1.1rem;text-transform:uppercase;fill:#9B9B9B;"
                                                  text-anchor="middle" transform="translate(0,0)" y="-9999">
                                                <tspan>Aug 25</tspan>
                                            </text>
                                            <text x="0"
                                                  style="color:#9B9B9B;cursor:default;font-size:1.1rem;text-transform:uppercase;fill:#9B9B9B;"
                                                  text-anchor="middle" transform="translate(0,0)" y="-9999">
                                                <tspan>Aug 26</tspan>
                                            </text>
                                            <text x="764.1290322580645"
                                                  style="color:#9B9B9B;cursor:default;font-size:1.1rem;text-transform:uppercase;fill:#9B9B9B;"
                                                  text-anchor="middle" transform="translate(0,0)" y="212" opacity="1">
                                                <tspan>Aug 27</tspan>
                                            </text>
                                            <text x="0"
                                                  style="color:#9B9B9B;cursor:default;font-size:1.1rem;text-transform:uppercase;fill:#9B9B9B;"
                                                  text-anchor="middle" transform="translate(0,0)" y="-9999">
                                                <tspan>Aug 28</tspan>
                                            </text>
                                            <text x="0"
                                                  style="color:#9B9B9B;cursor:default;font-size:1.1rem;text-transform:uppercase;fill:#9B9B9B;"
                                                  text-anchor="middle" transform="translate(0,0)" y="-9999">
                                                <tspan>Aug 29</tspan>
                                            </text>
                                            <text x="0"
                                                  style="color:#9B9B9B;cursor:default;font-size:1.1rem;text-transform:uppercase;fill:#9B9B9B;"
                                                  text-anchor="middle" transform="translate(0,0)" y="-9999">
                                                <tspan>Aug 30</tspan>
                                            </text>
                                            <text x="0"
                                                  style="color:#9B9B9B;cursor:default;font-size:1.1rem;text-transform:uppercase;fill:#9B9B9B;"
                                                  text-anchor="middle" transform="translate(0,0)" y="-9999">
                                                <tspan>Aug 31</tspan>
                                            </text>
                                            <text x="0"
                                                  style="color:#9B9B9B;cursor:default;font-size:1.1rem;text-transform:uppercase;fill:#9B9B9B;"
                                                  text-anchor="middle" transform="translate(0,0)" y="-9999">
                                                <tspan>Sep 1</tspan>
                                            </text>
                                            <text x="0"
                                                  style="color:#9B9B9B;cursor:default;font-size:1.1rem;text-transform:uppercase;fill:#9B9B9B;"
                                                  text-anchor="middle" transform="translate(0,0)" y="-9999">
                                                <tspan>Sep 2</tspan>
                                            </text>
                                            <text x="1018.8387096774193"
                                                  style="color:#9B9B9B;cursor:default;font-size:1.1rem;text-transform:uppercase;fill:#9B9B9B;"
                                                  text-anchor="middle" transform="translate(0,0)" y="212" opacity="1">
                                                <tspan>Sep 3</tspan>
                                            </text>
                                            <text x="0"
                                                  style="color:#9B9B9B;cursor:default;font-size:1.1rem;text-transform:uppercase;fill:#9B9B9B;"
                                                  text-anchor="middle" transform="translate(0,0)" y="-9999">
                                                <tspan>Sep 4</tspan>
                                            </text>
                                            <text x="0"
                                                  style="color:#9B9B9B;cursor:default;font-size:1.1rem;text-transform:uppercase;fill:#9B9B9B;"
                                                  text-anchor="middle" transform="translate(0,0)" y="-9999">
                                                <tspan>Sep 5</tspan>
                                            </text>
                                            <text x="0"
                                                  style="color:#9B9B9B;cursor:default;font-size:1.1rem;text-transform:uppercase;fill:#9B9B9B;"
                                                  text-anchor="middle" transform="translate(0,0)" y="-9999">
                                                <tspan>Sep 6</tspan>
                                            </text>
                                        </g>
                                        <g class="highcharts-axis-labels highcharts-yaxis-labels "></g>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="layout--wrapper" data-reactid=".0.4">
            <div id="list_main" class="list--MAIN" data-reactid=".0.4.0">
                                    <span class="list--total" data-reactid=".0.4.0.0">
                                        <span data-reactid=".0.4.0.0.0">{{ link_history.length }}</span>
                                        <span data-reactid=".0.4.0.0.1"> </span>
                                        <span data-reactid=".0.4.0.0.2">条链接</span>
                                    </span><span class="list--filter" data-reactid=".0.4.0.1">总点击次数</span>

                <div data-reactid=".0.4.0.2">
                    <a v-for="(hlink, hindex) in link_history" v-bind:class="bitlink_item_class(hindex)"

                       data-reactid=".0.4.0.2.1:$2hItHYo">
                                    <span class="bitlink-item--checkbox" data-reactid=".0.4.0.2.1:$2hItHYo.0">
                                        <div class="checkbox--SMALL" id="2hItHYo"
                                             data-reactid=".0.4.0.2.1:$2hItHYo.0.0">
                                            <input id="2hItHYo" type="checkbox" class="checkbox--input"
                                                   data-reactid=".0.4.0.2.1:$2hItHYo.0.0.0">
                                            <label for="2hItHYo" class="checkmark-icon checkbox-icon"
                                                   data-reactid=".0.4.0.2.1:$2hItHYo.0.0.1"></label>
                                        </div></span>
                        <time class="bitlink-item--created-date" datetime="2017-08-09"
                              data-reactid=".0.4.0.2.1:$2hItHYo.1">Aug 9
                        </time>
                        <div class="bitlink-item--title" data-reactid=".0.4.0.2.1:$2hItHYo.4">{{
                            hlink.long_url }}
                        </div>
                        <div data-reactid=".0.4.0.2.1:$2hItHYo.5">
                            <div class="bitlink--MAIN" tabindex="-1" data-reactid=".0.4.0.2.1:$2hItHYo.5.0">
                                <span data-reactid=".0.4.0.2.1:$2hItHYo.5.0.0"></span>
                                <span class="bitlink--hash"
                                      data-reactid=".0.4.0.2.1:$2hItHYo.5.0.1">{{ hlink.link }}</span>
                            </div>
                                        <span class="click-count--MAIN" data-reactid=".0.4.0.2.1:$2hItHYo.5.1">
                                            <span data-reactid=".0.4.0.2.1:$2hItHYo.5.1.0">1</span>
                                            <span class="clicks-icon" alt="clicks-icon"
                                                  data-reactid=".0.4.0.2.1:$2hItHYo.5.1.1"></span>
                                        </span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="item-detail--MAIN open" data-reactid=".0.4.1">
                <div data-reactid=".0.4.1.0"><span class="item-detail--back-nav" data-reactid=".0.4.1.0.0"><span
                        data-reactid=".0.4.1.0.0.0">Bitlink Details</span><a
                        href="https://app.bitly.com/Bh892yxPYIx/bitlinks/2vLjBvq#" class="close-icon" alt="close-icon"
                        data-reactid=".0.4.1.0.0.1"></a></span>

                    <div data-reactid=".0.4.1.0.1">
                        <time class="item-detail--created-date" datetime="2017-08-09" data-reactid=".0.4.1.0.1.0">Aug
                            9
                        </time>
                        <div class="item-detail--title" data-reactid=".0.4.1.0.1.1">http://baidu.com/</div>
                        <div data-reactid=".0.4.1.0.1.2"><a class="item-detail--url" href="http://baidu.com/"
                                                            target="_blank" data-reactid=".0.4.1.0.1.2.0">http://baidu.com/</a>
                        </div>
                    </div>
                    <div class="bitlink--copy-wrapper" data-reactid=".0.4.1.0.4">
                        <div class="bitlink--copy-tooltip" data-reactid=".0.4.1.0.4.0"><input
                                value="http://bit.ly/2vLjBvq" tabindex="-1" readonly=""
                                data-reactid=".0.4.1.0.4.0.0"><span class="bitlink--copy-tooltip-text"
                                                                    data-reactid=".0.4.1.0.4.0.1">Press ⌘-c to copy</span>
                        </div>
                        <div class="bitlink--copy-interface" data-reactid=".0.4.1.0.4.1"><a href="http://bit.ly/2vLjBvq"
                                                                                            class="bitlink--copyable-text"
                                                                                            target="_blank"
                                                                                            data-reactid=".0.4.1.0.4.1.0">
                            <div class="bitlink--MAIN" tabindex="-1" data-reactid=".0.4.1.0.4.1.0.0"><span
                                    data-reactid=".0.4.1.0.4.1.0.0.0">bit.ly</span><span class="bitlink--hash"
                                                                                         data-reactid=".0.4.1.0.4.1.0.0.1">/2vLjBvq</span>
                            </div>
                            <div class="bitlink--MAIN" tabindex="-1" data-reactid=".0.4.1.0.4.1.0.1"><span
                                    data-reactid=".0.4.1.0.4.1.0.1.0">bit.ly</span><span class="bitlink--hash"
                                                                                         data-reactid=".0.4.1.0.4.1.0.1.1">/2vLjBvq</span>
                            </div>
                        </a>

                            <div class="item--action-buttons" data-reactid=".0.4.1.0.4.1.1">
                                <button class="button--ACTION" type="button" data-clipboard-text="http://bit.ly/2vLjBvq"
                                        data-reactid=".0.4.1.0.4.1.1.0">COPY
                                </button>
                                <button class="button--ACTION" type="button" data-reactid=".0.4.1.0.4.1.1.1">SHARE
                                </button>
                                <button class="button--ACTION" type="button" data-reactid=".0.4.1.0.4.1.1.2">EDIT
                                </button>
                            </div>
                        </div>
                    </div>
                    <div data-reactid=".0.4.1.0.5">
                        <div class="info-wrapper--MAIN" data-reactid=".0.4.1.0.5.0">
                            <div class="item-detail--click-stats-wrapper" data-reactid=".0.4.1.0.5.0.0">
                                <div class="info-wrapper--user-clicks" data-reactid=".0.4.1.0.5.0.0.0">
                                    <div class="info-wrapper--header" data-reactid=".0.4.1.0.5.0.0.0.0"><span
                                            class="info-wrapper--clicks-text"
                                            data-reactid=".0.4.1.0.5.0.0.0.0.0">0</span><span class="clicks-icon"
                                                                                              alt="clicks-icon"
                                                                                              data-reactid=".0.4.1.0.5.0.0.0.0.1"></span>
                                    </div>
                                    <div class="item-detail--selected-day" data-reactid=".0.4.1.0.5.0.0.0.1">TOTAL
                                        CLICKS
                                    </div>
                                </div>
                                <div class="info-wrapper--global-clicks" data-reactid=".0.4.1.0.5.0.0.1"><span
                                        data-reactid=".0.4.1.0.5.0.0.1.0">Bitly Network: </span><strong
                                        data-reactid=".0.4.1.0.5.0.0.1.1">1,488</strong><span
                                        data-reactid=".0.4.1.0.5.0.0.1.2"> </span><span
                                        data-reactid=".0.4.1.0.5.0.0.1.3">clicks</span><span
                                        data-reactid=".0.4.1.0.5.0.0.1.4"> from </span><strong
                                        data-reactid=".0.4.1.0.5.0.0.1.5">357</strong><span
                                        data-reactid=".0.4.1.0.5.0.0.1.6"> other Bitlinks</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
{% endverbatim %}
<script src="/static/js/user_center/tail.js"></script>
<script>
    var user_center_vue = new Vue({
        el: '#main',
        data: {
            link_history: []
        },
        methods: {
            bitlink_item_class: function (link_index) {
                console.log('link_index:' + link_index)
                if (link_index == 0) {
                    return "bitlink-item--ACTIVE"
                } else {
                    return "bitlink-item--MAIN"
                }
            }
        }
    })
</script>


<script>
    var link_history = proxy_link_history()
    user_center_vue.link_history = link_history.link_history
    {#    init_list_main(user_center_vue)#}
    {#    list--MAIN#}
</script>

</html>