<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" /><meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link href="/static/content/site.css?v=20" rel="stylesheet"/>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/css/layui.css" media="all">
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
{#    <script src="https://cdn.bootcss.com/jquery-ui-bootstrap/0.5pre/assets/js/jquery-ui-1.10.0.custom.min.js"></script>#}
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>
<body class="body-customer">
{% verbatim %}

    <header class="navbar navbar-static-top bs-docs-nav" id="top" >
      <div class="container" style="background-color:white;width:100%;height: 87px;">
        <div class="navbar-header">
          <a href="javascript:void(0)" class="navbar-brand"><img style="margin-left:19px;height:55px;margin-top:2px;" src="/static/content/HW.jpg"/></a>
          <a href="javascript:void(0)" class="navbar-brand" style="margin-top:19px;">H&W中美快递</a>
        </div>
      </div>
    </header>

    <div class="body-content">
        <div style="color: white;">
            <div style="margin-left:2%;">
                <div class="form-group">
                    <label for="exampleInputEmail1">订单号查询</label>
                </div>
                <form class="form-inline" style="float: left">
                    <div class="form-group" style="float: right">
                        <input type="text" class="form-control" placeholder="输入快递单号" id="order_id" style="width: 300px;">
                    </div>
                    <br>
                    <button style="float: right;margin-top: 4%;" type="button" id="get_order_details" class="btn btn-primary" data-loading-text="查询中..." autocomplete="off">提交</button>
                </form>
                <br />
            </div>
            <br />
        </div>

        <br><br>

        <hr />
        <div id="show_order" style="margin-left:2%;">
            <table class="table table-striped" v-bind:style="styleObject" style="display: none">
                  <colgroup>
                    <col width="150">
                    <col width="200">
                    <col width="200">
                    <col width="200">
                  </colgroup>
                  <thead>
                    <tr>
                      <th>快递单号</th>
                      <th style="width:13%">收件人名字</th>
                      <th style="width:325px;">包裹状态</th>
                      <th>转运单号</th>
                    </tr>
                  </thead>

                  <tbody v-for="detail in details">
                    <tr>
                      <td>{{ detail.express_number }}</td>
                      <td>{{ detail.consignee_name }}</td>
                      <td>{{ detail.status }}</td>
                      <td><a v-bind:href="'https://www.baidu.com/s?wd='+detail.tracking_number" target="view_window">{{ detail.tracking_number }}</a></td>
                    </tr>
                  </tbody>

            </table>
        </div>
        <br><br>
        <br><br>
        <br><br>
        <br><br>
        <br><br>
        <br><br>
        <br><br>
        <br><br>
        <br><br>
        <br><br>
        <br><br>
        <br><br>
        <br><br>
        <br><br>
        <br><br>

    </div>
    <script>
        var show_order = new Vue({
          el: '#show_order',
          data: {
            details: [],
            styleObject:{
                'display':'none',
            },
          }
        })
    </script>

    <script>
        $("#get_order_details").on('click', function(){
            order_id_value = document.getElementById("order_id").value
            if(order_id_value){
                url = '/order/' + order_id_value
                $.ajax({
                    url: url,
                    type: 'GET',
                    dataType: "json",
                    success: function (data) {
                        msg = data.msg
                        if (msg) {
                            alert(msg)
                            show_order.styleObject.display = 'none'
                        } else {
                            show_order.styleObject.display = 'table-row-group'
                            show_order.details = data.data
                        }
                    },
                    error: function (data) {
                        alert('服务器通信异常');
                    }
                });
            }else{
                alert('请输入订单号');
            }
        });
    </script>


{% endverbatim %}

</body>
</html>
